In [1]:
#1.  Write a code to create a string with your name and print it.
name = "Nitish S"
print(name)

Nitish S

In [2]:
#2.  Write a code to find the length of the string "Hello World"
length = len("Hello World")
print(length)

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
sliced = "Python Programming"[:3]
print(sliced)

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase
uppercase = "hello".upper()
print(uppercase)

HELLO

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
replaced = "I like apple".replace("apple", "orange")
print(replaced)

I like orange

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [8]:
 #8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [9]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
element = ['a', 'b', 'c', 'd'][1]
print(element)

b

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
to_reverse = [10, 20, 30, 40, 50][::-1]
print(to_reverse)

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

In [12]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
first_element = ('apple', 'banana', 'cherry')[0]
print(first_element)

apple

In [13]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
to_count = (1, 2, 3, 2, 4, 2).count(2)
print(to_count)

3

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
get_index = ('dog', 'cat', 'rabbit').index("cat")
print(get_index)

1

In [15]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
exists = "banana" in ('apple', 'orange', 'banana')
print(exists)

True

In [16]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [17]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

In [18]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

In [19]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
first_element = ('apple', 'banana', 'cherry')[0]
print(first_element)

apple

In [20]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
count = (1, 2, 3, 2, 4, 2).count(2)
print(count)

3

In [21]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
index = ('dog', 'cat', 'rabbit').index("cat")
print(index)

1

In [22]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
exists = "banana" in ('apple', 'orange', 'banana')
print(exists)

True

In [23]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [24]:
#24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}